html, body {
    height: 100%;
    margin: 0;
}
html{
    display: block;
}
body{
    background-color: #fbf2ea;
}
.viewport{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
div {
    display: block;
}
/* banner is for the header section that has the logo et al */
.banner{
    /* background-color: #ffffff; */
    background-color: #ffffff; /* var(--ui-color-white); */
    border-bottom: 1px solid #c2c0c0 var(--ui-color-grey);
    z-index: 3;
    position: static;
    z-index: 4;
}
.banner nav{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

.banner .logo{
    margin: 0;
    padding: 0;
    margin-right: 30px;
}
.banner .logo img{
    margin: 0;
    padding: 0;
    height: 70px;
    width: 150px;
}
.banner .anchor-right{
    /* width: 20%; */
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    margin-left: auto;
    
}
#signin span{
    color: red;
    /* font:  Helvetica, Arial, sans-serif; */
    color: #512B2B;
    display: flex;
    align-items: center;
}
.banner .signin-icon{
    font-size: 2rem;
    color: #ee8522;
    margin-right: 5px;
}
.home-button{
    font-size: 1.5rem;
    color: #ee8522;
    align-items: center;
    background: none;
    border: none;
    /* color: var(--ui-color-brown); */
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
}
ui-nav{
    background-color: var(--ui-theme-color-14);
    border-top: 1px solid #ebe7e2;
    display: block;
    position: relative;
    z-index: 3;
    /* border: 1px solid red; */
}
ui-nav .ui-nav__columns.-primary {
    background-color: #ffffff;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}


#navbarNav{
    border: 1px solid yellow;
    margin: 0;
    padding: 0;
}
/* menu-nav is the main menu */
#menu-nav{
    /* background-color:  #fbf2ea;
    border-top: 1px solid #ebe7e2;
    display: block;
    position: relative;
    z-index: 3;
    width: 100%; */
    /* margin: 0;
    padding: 0; */
    /* border: 1px solid black; */
}
/* #navbarText{
    background-color: #ffffff;
} */

#menu-nav .menu-nav__items{
    margin: 0 auto;
    max-width: 1260px;
    border: 1px solid red; 
}

#navbarNav ul{
    border-left: 1px solid grey /*var(--ui-color-grey)*/;
    border-right: 1px solid grey /*var(--ui-color-grey)*/;
    display: flex;
}

#navbarNav .nav-item{
    display: flex;
    align-items: center;
    /* align-content: space-between; */
    font-size: large;
    /* flex: 0 0 60px; */
    /* border: 1px solid blue; */
    padding: 0;
    margin: 0;
    /* margin-right: 50px; */
    /* width: 100%; */
}
#navbarNav .nav-item{
    border-right: 1px solid grey;
}
#navbarNav ul > li > a{
    box-sizing: border-box;
    color: #512b2b;
    display: flex;
    align-items: center;
    font: 15px/17px HeadlineBold,Helvetica,Arial,sans-serif; 
    /* height: 100%;
    min-height: 54px; */
    /* padding: 6px 5px; */
    text-decoration: none;
    /* width: 100%; */
}

/* 
.banner__wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    max-width: 1260px;
    height: 60px;
    z-index: unset;
    padding: 0 20px;
} */

/* .banner__wrapper > .logo{
    /* margin: 0 auto 0 0; 
    aspect-ratio: 216/48;
    width: 149px;
    height: 33px;
} */

.banner > nav {
    /* background-color: #ffffff; */
}

/* #menu-nav {
    background-color: #ffffff;  /*var(--ui-theme-color-14); 
    border-top: 1px solid #ebe7e2;
    display: block;
    position: relative;
    z-index: 3;
} */
/* #navbarText{
    margin: 0 auto;
    max-width: 1260px;
} */
#navbarText ul{
    /* border-right: 1px solid red; */
    
}
#navbarText ul > li{
    /* margin: 0 auto;
    max-width: 1260px; */
    /* flex: 1 1 100%;     */
    /* border-right: 1px solid green; */
}
/* #navbarText > ul > li > a{
    box-sizing: border-box;
    color: #512b2b;
    display: flex;
    font: 15px/17px HeadlineBold,Helvetica,Arial,sans-serif; 
    height: 100%;
    min-height: 54px;
    padding: 6px 5px;
    text-decoration: none;
    width: 100%;
} */
/* .nav-item{
    border-right: 1px solid var(--ui-color-grey) !important;
} */


/* head, banner, nav */
